/*Header*/

.navbar {
    background-color: #F4ECE0;
}

.logo {
    margin-right: 447px;
}

.views {
    font-weight: bold;
    margin-right: 208px;
}

.viewsLinks {
    color: #663399;
}

/*Footer*/

footer {
    background-color: #F4ECE0;

}

.regretButton {
    background-color: #663399;
    border-radius: 100px;
}