/* 576 para abajo

diseño mobile

entre 576 y 768

diseño desktop con menu hamburguesa y leves modificaciones de tamaño

entre 768 y 992

diseño desktop con menu hamburguesa y leves modificaciones de tamaño

992 para arriba

diseño desktop*/

@media (max-width: 600px) {

/*Estilos generales*/

 * {
    overflow-x: hidden;
} 

h1 {
    overflow-y: hidden;
}

h2 {
    overflow-y: hidden;
}

h3 {
    overflow-y: hidden;
}

h4 {
    overflow-y: hidden;
}

button {
    overflow-y: hidden;
}

.rectangularSubtitleContainers {
    margin: 60px 0px 30px 0px;
    padding: 0px;
    
}

.mobileSubtitles {
    margin-top: 50px;
}

.purpleBgSubtitleContainer {
    position: relative;
    padding: 10px 10px;
    top: 3.1rem;
    margin-bottom: 100px;
}

.whiteSubtitles {
    font-size: 24px;
    text-align: center;
}

/*Header*/

#mobileNavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.views {
    display: none;
}

.d-lg-none {
    position: fixed;
    z-index: 102;
    width: 40px;
    height: 40px;
}

#offcanvasHeader {
    background-color: #663399;
}

#offcanvasHeader p {
    color: #F4ECE0;
}

#offcanvasWelcome {
    font-size: 16px;
}

#offcanvasClarisasTitle {
    font-size: 20px;
}

.offcanvas-header .btn-close {
    background-color:#F4ECE0;
}

.offcanvasNavContainer {
    gap: 15px;
}

.offcanvasNavLinks {
    text-decoration: none;
}

.offcanvasNavLinks {
    color:#663399;
    text-transform: uppercase;
    font-size: 14px;
}

#offcanvasLine {
    border: 1px solid #000000;
}

.offcanvasIcons {
    margin-right: 10px;
}

#offcanvasYoutubeIcon {
    margin-left: 2px;
}

/*Footer*/

#complaintContainerSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}

#desktopButtonsContainer {
    display: none;
}

#regretButton {
    width: 328px;
    height: 48px;
    font-size: 14px;
}

#complaintContainer {
    margin-left: 0px;
}

#complaintContainer p {
    font-size: 14px;
    text-align: center;
}

#footerNavbarContainer {
    display: none;
}

.footerLines {
    width: 100%;
    border-color: #663399;
    border-width: 3px;
    opacity: 1;
    margin-bottom: 0px;
}

#footerLogo {
    margin: 20px 0px;
}

#mobileMediaLogos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
}

#consumerProtectionSection div {
    padding: 0px;
    margin: 0px 20px;
}

#consumerProtectionSection div strong{
    text-align: center;
    margin-top: 30px;
}

#footerDataContainer {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
}

.footerIcons {
    display: none;
}

.footerDataText {
    color:#663399;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

#purpleEndLine {
    background-color: #663399;
    height: 15px;
}

/*Home*/

#buttonFixed {
    display: none;
}

#carouselButtonContainer {
    display: none,
}

.carouselImages {
    width: 360px;
    height: 649px;
}

#mainTitleContainer {
    top: 6.6rem;
    left: 0rem;
    right: 0rem;
}

#mainTitle {
    font-size: 24px;
    content: Experiencias inolvidables;
}

#mainSubtitle {
    font-size: 24px;
}

#mainSubtitleContainer {
    background-color: rgba(217, 217, 217, 0.8);
    top: 35rem;
}

#carouselButtonContainer {
    top: 30rem;
}

.secondarySubtitles {
    text-align: center;
    font-size: 20px;
}

#mobileCardsCarousel {
    display: none;
}

#frecuentJourneysSubtitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mobileNextTripsButton {
    background: #663399;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    border-style: none;
    padding: 12px 23px;
    gap: 16px;
    width: 90%;
    margin: 30px;
}

.contactButtons {
    background-color: #663399;
    border-radius: 50%;
    border-style: none;
    margin: 15px 7.5px;
}

.whatsAppButton {
    width: 60px;
    height: 60px;
}

.contactLogos {
    padding: 7.5px;
}

#clarisasInformationMobile {
    display: flex;
    flex-direction: column;
}

#questionSubtitle {
    text-align: center;
}

#clarisasInformationCol p{
    text-align: center;
}

#clarisasInformationCol div{
    display: grid;
    place-items: center;
}

#knowUsButton {
    font-size: 14px;
}

/*Viajes*/

#tripsSubtitle {
    font-size: 16px;
}

#pinkTripsSubtitle {
    font-size: 20px;
}

.destinationSubtitles {
    display: none;
}

.tripsSectionCards {
    display: flex;
    flex-direction: column;
}

.cards {
    margin: 20px;
}

.seeTripsButtons {
    position: absolute;
    left: 61.4%;
    right: 2.43%;
    top: 80.28%;
    bottom: 6.67%;
    font-size: 13px;
}

.cardTitle {
    overflow-y: hidden;
    font-size: 15px;
}

/* Subsecciones de detalle*/

#detailDestinationContainer {
    display: flex;
    flex-direction: column;
}

.mobileDestinationSubtitles {
    text-align: left;
}

#detailDestinationContainer h2 {
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

#detailDestinationContainer p {
    margin-left: 20px;
    font-size: 16px;
}

#detailImageContainer img {
    padding: 20px;
    width: 492px;
    height: 324px;
}

#mobileDetailInformationContainer {
    display: flex;
    flex-direction: column;
}

#detailTextCol h2{
    font-size: 20px;
}

#detailTextCol p{
    font-size: 14px;
}

#detailButtonCol div {
    width: 100%;
}

.writeUsButton {
    width: 100%;
    font-size: 14px;
}

.leftInformationContainer {
    margin: 0px 5px;
}

.leftInformationContainer div h3 {
    font-size: 20px;
    margin-right: 15px;
    margin-left: 5px;
}

.leftInformationContainer div div {
    font-size: 20px;
}

.mobileDetailIconsContainer {
    display: grid;
    place-items: center;
}

.detailIconContainers {
    margin: 0px 15px;
}

#detailTripServices {
    margin: 40px 0px 40px 10px;
}

#detailTripServices h2 {
    font-size: 20px;
}

#detailTripServices ul li {
    font-size: 14px;
}

/*Ayuda*/
#helpSection {
    background-color: #F0F0F0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: stretch;
    padding-bottom: 100px;
}

.helpListRow{
    margin-top: 0px;
    
}

.cardHelp {
    text-align: center;
    width: 90%;
    height: 280px;
    z-index: 2;

}

.cardHelp:hover{
    box-shadow: 0px 0px 10px 5px #8C52FF;
}

/*preguntas frecuentes*/
#moreInfoHelp{
    padding: 60px 50px 60px 50px;
    background-color: #F0F0F0;
}

/*contacto*/
#contactSection {
    background-color: #F0F0F0;
    display: grid;
    justify-items: normal;
    padding-bottom: 100px;
}

.contactDirectRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactCard {
    background-color: #663399;
    border-radius: 25px;
    width: 80%;
    color: #FFFFFF;
    white-space: normal;
    padding: 10px 5px 10px 30px;
    
}

.contactIcon{
    display: none;
}

.contactIconMobile {
    display: contents;
    width: 40%;
}

.contactIconText{
    width: 70%;
    text-align: left;
    white-space: pre-line;
    word-break:break-all;
    margin-top: 10px;
    padding-left: 10px;
}

.workingHours{
    display: none;
}



.contactSocialIcon{
    width: 90%;
    display: flex;
    align-items: center;
}

.contactIconSocial {
    background-color: #FFFFFF;
    justify-content: start;
    width: 30%;
}

.contactIconSocial img {
    width: 70px;
    height: 70px;
}

.contactIconSocialText{
    padding-top: 10px;
    padding-left: 5px;
    width: 70%;
    color: #663399;
}

.contactSocialOther {
    width: 70%;
    padding: 5px 0px 25px 0px;
    margin-top: 20px;

}

.contactSocialIconRow{
    display: grid;
    justify-content: center;
}

.contactSocialImageOne{
    margin: 0px;
    width: 100%;

}

.contactSocialImageOne img {
    width: auto;
    height: 270px;
}

.contactSocialImageSize{
    width: auto;
    height: auto;
}


.contactSocialImageTwo{
    margin: 0px;
    display: none;
}

.contactSocialImageThree{
    margin: 0px;
    display: none;
}

/*Nosotras*/
#usSection {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: normal;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.usDescription {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 60px;
  }
  

.usDescription > div {
    width: 90%;
    margin-left: 0px;
    margin-right: 20px;
  }

  .usWhy {
    background-color: #F4ECE0;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 0px;
    border-radius: 14px;
    margin-left: 30px;
    

    
}

.usWhy > div {
    width: 90%;
    margin-right: 20px;
  }

#travelWithUs {
    color: #BA007C;
    text-align: center;
}

.usButton{
    text-align:center;
    width: 85%;
    height: 100%;
    
    
}

#usWhyButton {
    background-color: #663399;
    border-radius: 50px;
    border-style: none;
    margin-top: 30px;
    padding: 12px 23px;
    float: center;
}

h5 {
    line-height: normal;
}

}

@media (max-width: 768px){

/*Estilos generales*/

* {
    overflow-x: hidden;
} 

h1 {
    overflow-y: hidden;
}

h2 {
    overflow-y: hidden;
}

h3 {
    overflow-y: hidden;
}

h4 {
    overflow-y: hidden;
}

button {
    overflow-y: hidden;
}

.rectangularSubtitleContainers {
    margin: 60px 0px 30px 0px;
    padding: 0px;
    
}

.mobileSubtitles {
    margin-top: 50px;
}

.purpleBgSubtitleContainer {
    position: relative;
    padding: 10px 10px;
    top: 3.1rem;
    margin-bottom: 100px;
}

.whiteSubtitles {
    font-size: 24px;
    text-align: center;
}

/*Header*/

#mobileNavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.views {
    display: none;
}

.d-lg-none {
    position: fixed;
    z-index: 102;
    width: 40px;
    height: 40px;
}

#offcanvasHeader {
    background-color: #663399;
}

#offcanvasHeader p {
    color: #F4ECE0;
}

#offcanvasWelcome {
    font-size: 16px;
}

#offcanvasClarisasTitle {
    font-size: 20px;
}

.offcanvas-header .btn-close {
    background-color:#F4ECE0;
}

.offcanvasNavContainer {
    gap: 15px;
}

.offcanvasNavLinks {
    text-decoration: none;
}

.offcanvasNavLinks {
    color:#663399;
    text-transform: uppercase;
    font-size: 14px;
}

#offcanvasLine {
    border: 1px solid #000000;
}

.offcanvasIcons {
    margin-right: 10px;
}

#offcanvasYoutubeIcon {
    margin-left: 2px;
}

/*Footer*/

#complaintContainerSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}

#desktopButtonsContainer {
    display: none;
}

#regretButton {
    width: 328px;
    height: 48px;
    font-size: 14px;
}

#complaintContainer {
    margin-left: 0px;
}

#complaintContainer p {
    font-size: 14px;
    text-align: center;
}

#footerNavbarContainer {
    display: none;
}

.footerLines {
    width: 100%;
    border-color: #663399;
    border-width: 3px;
    opacity: 1;
    margin-bottom: 0px;
}

#footerLogo {
    margin: 20px 0px;
}

#mobileMediaLogos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
}

#consumerProtectionSection div {
    padding: 0px;
    margin: 0px 20px;
}

#consumerProtectionSection div strong{
    text-align: center;
    margin-top: 30px;
}

#footerDataContainer {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
}

.footerIcons {
    display: none;
}

.footerDataText {
    color:#663399;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

#purpleEndLine {
    background-color: #663399;
    height: 15px;
}

/*Ayuda*/
#helpSection {
    background-color: #F0F0F0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: stretch;
    padding-bottom: 100px;
}

.helpListRow{
    margin-top: 0px;
    
}

.cardHelp {
    text-align: center;
    width: 90%;
    height: 280px;
    z-index: 2;

}

.cardHelp:hover{
    box-shadow: 0px 0px 10px 5px #8C52FF;
}

/*preguntas frecuentes*/
#moreInfoHelp{
    padding: 60px 50px 60px 50px;
    background-color: #F0F0F0;
}

/*contacto*/
#contactSection {
    background-color: #F0F0F0;
    display: grid;
    justify-items: normal;
    padding-bottom: 100px;
}

.contactDirectRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactCard {
    background-color: #663399;
    border-radius: 25px;
    width: 80%;
    color: #FFFFFF;
    white-space: normal;
    padding: 10px 5px 10px 30px;
    
}

.contactIcon{
    display: none;
}

.contactIconMobile {
    display: contents;
    width: 40%;
}

.contactIconText{
    width: 70%;
    text-align: left;
    white-space: pre-line;
    word-break:break-all;
    margin-top: 10px;
    padding-left: 10px;
}

.workingHours{
    display: none;
}



.contactSocialIcon{
    width: 90%;
    display: flex;
    align-items: center;
}

.contactIconSocial {
    background-color: #FFFFFF;
    justify-content: start;
    width: 30%;
}

.contactIconSocial img {
    width: 70px;
    height: 70px;
}

.contactIconSocialText{
    padding-top: 10px;
    padding-left: 5px;
    width: 70%;
    color: #663399;
}

.contactSocialOther {
    width: 70%;
    padding: 5px 0px 25px 0px;
    margin-top: 20px;

}

.contactSocialIconRow{
    display: grid;
    justify-content: center;
}

.contactSocialImageOne{
    margin: 0px;
    width: 100%;

}

.contactSocialImageOne img {
    width: auto;
    height: 270px;
}

.contactSocialImageSize{
    width: auto;
    height: auto;
}


.contactSocialImageTwo{
    margin: 0px;
    display: none;
}

.contactSocialImageThree{
    margin: 0px;
    display: none;
}

/*Nosotras*/
#usSection {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: normal;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.usDescription {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 60px;
  }
  

.usDescription > div {
    width: 90%;
    margin-left: 0px;
    margin-right: 20px;
  }

  .usWhy {
    background-color: #F4ECE0;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 0px;
    border-radius: 14px;
    margin-left: 30px;
    

    
}

.usWhy > div {
    width: 90%;
    margin-right: 20px;
  }

#travelWithUs {
    color: #BA007C;
    text-align: center;
}

.usButton{
    text-align:center;
    width: 85%;
    height: 100%;
    
    
}

#usWhyButton {
    background-color: #663399;
    border-radius: 50px;
    border-style: none;
    margin-top: 30px;
    padding: 12px 23px;
    float: center;
}

h5 {
    line-height: normal;
}
}

@media (min-width: 768px) and (max-width:992px) {

/*Estilos generales*/

.rectangularSubtitleContainers {
    display: grid;
    place-items: center;
    padding: 80px 0px 50px 0px;
}

.purpleBgSubtitleContainer {
    padding: 10px 70px;
    margin-top: 50px;
} 


/*Header*/

.logo {
    margin-right: 95px;
    margin-left: -50px;
}

.icon-menu {
    display: none;
}

/*Footer*/

#complaintContainer {
    margin-left: 50px;
}

/*Contacto*/

#contactSection {
    background-color: #F0F0F0;
    display: grid;
    place-items: center;
    padding-bottom: 100px;
}

.contactDirect {
    max-width: 930px;
}



.contactCard {
    background-color: #663399;
    border-radius: 25px;
    margin: 5px;
    padding: 15px;
    color: #FFFFFF;
    white-space: normal;
}

.contactSocialImageOne img {
    width: auto;
    height: 200px;
}

.contactSocialImageTwo img {
    width: auto;
    height: 200px;
}

.contactSocialImageThree img {
    width: auto;
    height: 200px;
}

.contactSocialImageOne {
    margin-left: 5px;
}

.contactSocialImageTwo {
    margin-left: 0px;
}

.contactSocialImageThree {
    margin-left: 0px;
}

}

@media (min-width: 768px) and (max-width:907px) {

/*Nosotras*/
        
.usDescription {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 0px;
  }
  
.usDescription > div {
    width: 45%;
    margin-left: 10px;
    margin-right: 0px;
  }

.columnTwo{
    margin-left: 0px;
}    
        
}

@media (min-width: 768px) and (max-width:931px) {

/*Nosotras*/
        
.usWhy {
    background-color: #F4ECE0;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 10px;
    border-radius: 14px;
    align-items: baseline;
    
}

.usWhy > div {
    width: 45%;
    margin-right: 20px;
  }   
        
}

@media (min-width: 907px) and (max-width:1016px) {

/*Nosotras*/
    
.usDescription {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 60px;
  }
  
.usDescription > div {
    width: 45%;
    margin-left: 20px;
    margin-right: 20px;
  }

.columnTwo{
    margin-left: 0px;
}    
    
}

@media (min-width: 992px) and (max-width:1200px) {

/*Estilos generales*/

.rectangularSubtitleContainers {
    display: grid;
    place-items: center;
    padding: 80px 0px 50px 0px;
}

.purpleBgSubtitleContainer {
    padding: 10px 70px;
    margin-top: 50px;
} 

/*Header*/

.logo {
    margin-right: 300px;
}

#offcanvasBody {
    display: none;
}


/*Footer*/

#complaintContainer {
    margin-left: 50px;
}

/*Home*/

#carouselButtonContainer {
    position: absolute;
    top: 35rem;
    z-index: 100;
    padding: 0.4rem;
}

#mobileNextTripsButton {
    display: none;
}

.cards {
    margin: 50px 1px;
}

.seeTripsButtons {
    background-color: #663399;
    border-radius: 50px;
    border-style: none;
    margin-left: 15px;
    margin-bottom: 25px;
}

/*Subsecciones de detalle*/

.leftInformationContainer {
    margin: 0px 100px;
}

.leftInformationContainer div div{
    font-size: 28px;
    margin-left: 30px
}

.leftInformationContainer div h3{
    font-size: 28px;
}
            
}

@media (min-width: 1200px) {

/*Estilos generales*/

.rectangularSubtitleContainers {
    display: grid;
    place-items: center;
    padding: 80px 0px 50px 0px;
}

.purpleBgSubtitleContainer {
    padding: 10px 70px;
    margin-top: 50px;
} 

/*Header*/

.logo {
    margin-right: 447px;
}

#offcanvasBody {
    display: none;
}


/*Footer*/

#complaintContainer {
    margin-left: 50px;
}

/*Home*/

#carouselButtonContainer {
    position: absolute;
    top: 35rem;
    z-index: 100;
    padding: 0.4rem;
}

#mobileNextTripsButton {
    display: none;
}

.cards {
    margin: 50px 1px;
}

.seeTripsButtons {
    background-color: #663399;
    border-radius: 50px;
    border-style: none;
    margin-left: 15px;
    margin-bottom: 25px;
}

/*Subsecciones de detalle*/

.leftInformationContainer {
    margin: 0px 100px;
}

.leftInformationContainer div div{
    font-size: 28px;
    margin-left: 30px
}

.leftInformationContainer div h3{
    font-size: 28px;
}

}